[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
twilio = "*"
requests = "*"
webdriver_manager = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.8"
